# Selenium Grid RemoteWebDriver endpoint
SELENIUM_REMOTE_URL=http://localhost:4444/wd/hub

# Base URL for the app under test
E2E_TARGET_URL=http://app:3000

# chrome | firefox | edge
BROWSER=chrome

# true | false
HEADLESS=true

# timeouts in seconds
PAGELOAD_TIMEOUT=30
IMPLICIT_WAIT=0
EXPLICIT_WAIT=15
